body {
    background: linear-gradient(to bottom, #000000 0%, #000000 30%, #000000 40%,#000000 80% ,#ff0000 90%,#ff0000 100%);
    color: white;
    font-family: 'Consolas', 'Lucida Console', 'Courier New', 'Courier', monospace;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .selector-idioma {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 0 15px #ff0000;
  }
  
  .selector-idioma h1 {
    margin-bottom: 1rem;
  }
  
  .botones {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .logo-img {
    display: block;
    margin: 0 auto;
    max-width: 400px; /* Ajustá el tamaño a gusto */
    height: auto;
  }
  
  
  .boton {
    background-color: #ff0000;
    color: #fff;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #cc0000;
  }
  