body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: linear-gradient(to bottom, #000000 0%, #000000 30%, #da0000 70%, #da0000 100%);
    color: #333;
  }
  
  header {
    background-color: #000000; /* Solid black */
    color: rgb(255, 0, 0);
    padding: 2rem;
    text-align: center;
  }
  
  .contenido {
    padding: 2rem;
    text-align: center;
  }
  
  .contenido img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
  }
  
  footer {
    background-color: #da0000; /* Solid red */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1.5rem 1rem;
    margin-top: 2rem;
  }
  
  footer ul {
    list-style: none;
    padding: 0;
  }
  
  footer ul li {
    display: inline;
    margin: 0 10px;
  }
  
  footer ul li a {
    color: #000000;
    text-decoration: none;
  }
  